{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Phys-Adapt{% endblock %}</h1>
{% if g.user %} {% endif %}

<div class="section">
  <div class="section-title">Module 5: Advanced Mechanics</div>
  <div class="table-wrap">
    <table
      class="charts-css line multiple show-primary-axis show-labels"
    >
      <tbody>
        {% for snapshot in dashboard_data %}
        <tr>
          <th scope="row">{{snapshot["date"]}}</th>
          <td style="--start: {{snapshot["mod_5_start"]}}; --end: {{snapshot["mod_5_end"]}}">{{snapshot["mod_5_score"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="section">
  <div class="section-title">Module 6: Electromagnetism</div>
  <div class="table-wrap">
    <table
      class="charts-css line multiple show-primary-axis show-labels"
    >
      <tbody>
        {% for snapshot in dashboard_data %}
        <tr>
          <th scope="row">{{snapshot["date"]}}</th>
          <td style="--start: {{snapshot["mod_6_start"]}}; --end: {{snapshot["mod_6_end"]}}">{{snapshot["mod_6_score"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<div class="section">
  <div class="section-title">Module 7: The Nature of Light</div>
  <div class="table-wrap">
    <table
      class="charts-css line multiple show-primary-axis show-labels"
    >
      <tbody>
        {% for snapshot in dashboard_data %}
        <tr>
          <th scope="row">{{snapshot["date"]}}</th>
          <td style="--start: {{snapshot["mod_7_start"]}}; --end: {{snapshot["mod_7_end"]}}">{{snapshot["mod_7_score"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>


<div class="section">
  <div class="section-title">Module 8: From the Universe to the Atom</div>
  <div class="table-wrap">
    <table
      class="charts-css line multiple show-primary-axis show-labels"
    >
      <tbody>
        {% for snapshot in dashboard_data %}
        <tr>
          <th scope="row">{{snapshot["date"]}}</th>
          <td style="--start: {{snapshot["mod_8_start"]}}; --end: {{snapshot["mod_8_end"]}}">{{snapshot["mod_8_score"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}