{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Phys-Adapt{% endblock %}</h1>
{% if g.user %} {% endif %}

<div class="section">
  <div class="table-wrap">
    <table
      class="charts-css line multiple show-primary-axis show-labels"
    >
      <tbody>
        {% for snapshot in dashboard_data %}
        <tr>
          <th scope="row">1/3/2026</th>
          <td style="--start: {{snapshot["mod_5_start"]}}; --end: {{snapshot["mod_5_end"]}}">{{snapshot["mod_5_score"]}}</td>
          <th scope="row">1/3/2026</th>
          <td style="--start: {{snapshot["mod_6_start"]}}; --end: {{snapshot["mod_6_end"]}}">{{snapshot["mod_6_score"]}}</td>
          <th scope="row">1/3/2026</th>
          <td style="--start: {{snapshot["mod_7_start"]}}; --end: {{snapshot["mod_7_end"]}}">{{snapshot["mod_7_score"]}}</td>
          <th scope="row">1/3/2026</th>
          <td style="--start: {{snapshot["mod_8_start"]}}; --end: {{snapshot["mod_8_end"]}}">{{snapshot["mod_8_score"]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}