{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Phys-Adapt{% endblock %}</h1>
{% if g.user %} {% endif %}

<p>
  <br />
  <br />
  Welcome to Phys-Adapt, a dynamic HSC-testing tool designed to help you get the
  upper hand before taking your HSC physics trials and final exam.
  <br />
  <br />
  Get started by registering and creating a new account, or by logging in with
  your already registered credentials.
  <br />
  <br />
  From there you can start the beginner's test and find your starting levels.
  Then, all questions following that will be adapted to you, targeting your
  weaker modules and building academic confidence question by question!
</p>

{% endblock %}
