{% extends 'base.html' %} {% block header %}
<div style="display: flex; justify-content: space-between; align-items: center">
  <div>{{ question['question_title'] }}</div>
  <div>Band: {{ question['band'] }}</div>
</div>
{% endblock %} {% block content %}

<img class="question" src="{{ question['question_image'] }}" />

<form
  method="post"
  action="/question/{{question_response['question_number']}}/{{question_response['quiz_id']}}"
>
  <label class="option">
    <input type="radio" name="answer" value="A" /> A
  </label>

  <label class="option">
    <input type="radio" name="answer" value="B" /> B
  </label>

  <label class="option">
    <input type="radio" name="answer" value="C" /> C
  </label>

  <label class="option">
    <input type="radio" name="answer" value="D" /> D
  </label>

  <p>Recommended time: {{ question['recommended_time'] }} seconds</p>

  <div class="actions">
    <input type="submit" value="Submit" />
  </div>
  <hidden name="question_number" value="{{next_question_number}}" />
</form>
{% endblock %}
