{% extends 'base.html' %} {% block header %}
<div class="row-full cols-2">
  <div class="field">Question {{ question_response['question_number'] }}</div>
  <div class="field">Band: {{ question['band'] }}</div>
</div>
{% endblock %} {% block content %}

<img class="question" src="{{ question['question_image'] }}" />

<div class="row-full cols-1">
  <div class="field">user answer = {{question_response['answer']}}</div>
  <div class="field">correct answer = {{question['answer']}}</div>
</div>

<button>
  <a href="/finish_quiz/{{question_response['quiz_id']}}"> Back to Questions</a>
</button>
{% endblock %}
