{% extends 'base.html' %} {% block header %}
<div style="display: flex; justify-content: space-between; align-items: center">
  <div>Question {{ question_response['question_number'] }}</div>
  <div>Band: {{ question['band'] }} </div>
</div>
{% endblock %} {% block content %}

<img class="question" src="{{ question['question_image'] }}" />

<form
  method="post"
  action="/question/{{question_response['question_number']}}/{{question_response['quiz_id']}}"
>
<div class="row-fixed-100 cols-2">
  <div class="field">
  <label class="option">A</label>
  </div>
  <div class="field">
    <input type="radio" name="answer" value="A" {{ 'checked' if question_response['answer'] == 'A' }}/> 
  </div> 
</div>

<div class="row-fixed-100 cols-2">
  <div class="field">
  <label class="option">B</label>
  </div>
  <div class="field">
    <input type="radio" name="answer" value="B" {{ 'checked' if question_response['answer'] == 'B' }}/> 
  </div> 
</div>

<div class="row-fixed-100 cols-2">
  <div class="field">
  <label class="option">C</label>
  </div>
  <div class="field">
    <input type="radio" name="answer" value="C" {{ 'checked' if question_response['answer'] == 'C' }}/> 
  </div> 
</div>

<div class="row-fixed-100 cols-2">
  <div class="field">
  <label class="option">D</label>
  </div>
  <div class="field">
    <input type="radio" name="answer" value="D" {{ 'checked' if question_response['answer'] == 'D' }}/> 
  </div> 
</div>

  <div class="form-actions">
    {% if previous_question_number > 0 %}
    <button type="submit" name="Previous" value="Previous">Previous</button>
    {% endif %}

    {% if next_question_number > 0 %}
    <button type="submit" name="Next" value="Next">Next</button>
    {% else %}
    <button type="submit" name="Finish" value="Finish">Finish</button>
    {% endif %}
  </div>
</form>
{% endblock %}
