{% extends 'base.html' %} {% block header %}
<h1>Welcome to Phys-Adapt, {{ g.user['username'] }}</h1>
{% endblock %} {% block content %}

<div><a> Below are bar charts representing your personal performance for each module! As you improve on questions, the green section will grow. <br> <br> Your questions will be personalised to your weaker modules.</a></div>

<div class="chart-container">
  {% for data in score_data %}
  <div class="bar-title">{{data["module_name"]}}</div>
  <div class="stacked-bar">
    <div class="segment correct" style="width: {{data["correct_percent"]}}%">{{data["correct_percent"]}}%</div>
    <div class="segment incorrect" style="width: {{data["incorrect_percent"]}}%">{{data["incorrect_percent"]}}%</div>
  </div>
  {% endfor %}
</div>

<div>
  <a> <br>Start the Adaptive quiz below. <br><br>The test is made up of 20 questions to mimic the HSC, helping you enhance exam performance and achieve the results you want! <br> <br> <br><br></a>
</div>
<div class="button-row">
  <button>
    <a href="{{ url_for('question.adaptive_quiz') }}">Adaptive Quiz</a>
  </button>
  <button>
    <a href="{{ url_for('question.dashboard') }}">Dashboard</a>
  </button>
</div>
{% endblock %}